body {
    background-color: #e9ebee;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    margin: 0;
}

.tab-labels {
    display: flex;
}

.tab-label {
    min-width: 250px;
    background-color: #FAFAFA;
    cursor: pointer;
    margin-right: 5px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid #d3d3d7;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    transform: translateY(1px);
}

.tab-label.active {
    background-color: white;
    color: #595fff;
    border-bottom: none;
}

.tab-container {
    display: none;
    background-color: white;
    border: 1px solid #d3d3d7;
    padding: 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.tab-container.active {
    display: inherit;
}


header {
    height: 55px;
    line-height: 55px;
    background-color: rgb(51, 51, 51);
    color: white;
    font-size: 18px;
    padding: 0 20px;
    position: relative;
}

footer {
    height: 50px;
    background-color: #595fff;
}

.content {
    min-height: calc(100vh - 105px);
    width: 90%;
    margin: 0 auto;
}

.statics {
    display: flex;
    flex-wrap: wrap;
    min-height: 170px;
    position: relative;
    margin-bottom: 15px;
    padding-top: 15px;
}

.static {
    flex-grow: 1;
    min-width: 220px;
    background-color: #46ff0f;
    margin: 10px;
    border-radius: 6px;
    min-height: 100px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 25px;
    cursor: pointer;
}

.static:first-child {
    margin-left: 0;
}

.static:last-child {
    margin-right: 0;
}

.static:nth-child(1) {
    background-color: rgb(90, 141, 226);
}

.static:nth-child(2) {
    background-color: rgb(238, 172, 77);
}

.static:nth-child(3) {
    background-color: #D95350;
}

.static:nth-child(4) {
    background-color: rgb(93, 183, 93);
}


.header-left {
    float: left;
}

.header-right {
    float: right;
    display: flex;
    align-items: center;
}

.header-menu {
    visibility: hidden;
    background-color: white;
    position: absolute;
    right: 30px;
    top: 55px;
    z-index: 100;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    padding: 10px 0;
    border-radius: 6px;
    color: #000;
    cursor: pointer;
}

.header-menu .active{
    background-color: #595fff;
}

.header-menu-item.active {
    background-color: rgba(201, 201, 201, 0.76);
}

.header-menu-item {
    padding: 8px 15px;
    font-size: 15px;
    height: 18px;
    display: flex;
    align-items: center;

}

.header-menu-item img {
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

.icon {
    width: 25px;
    height: 25px;
    padding: 15px;
    cursor: pointer;
}

.user-name {
    font-size: 14px;
}

.logo-name {
    color: #6effc4;
    font-weight: bold;
    text-transform: uppercase;
}

.static-top img {
    width: 60px;
    opacity: 0.5;
}


.static-bottom {
    font-size: 21px;
    text-align: right;
}

.static-top {
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    align-items: center;
}
